* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 189, 127);
    background: linear-gradient(90deg, rgba(240, 189, 127, 1) 0%, rgba(209, 91, 12, 1) 100%);
    text-align: center;
    font-family: Ubuntu;
}

header {
    padding: 2em 0em;
    font-weight: bold;
}


/* MAIN */

.bigContainer {
    width: 70vw;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lodashes {
    background: white;
    margin: 1em auto;
    padding: 1em;
    width: 330px;
    border-radius: 20px;
    border: 1px solid grey;
}

h3,
input,
p {
    padding: 0.3em;
    margin-bottom: 1em;
}

p {
    overflow-wrap: break-word;
}

.submit {
    margin: 1.5em;
    background: black;
    color: white;
    padding: .5em 1em;
    border-radius: 5px;
}

.submit:hover {
    background: rgb(211, 211, 211);
    color: rgb(5, 5, 5);
    transition: .2s;
}