* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */

body {
    font-family: serif;
    color: #ACA720;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    margin: 5vw 20vw;
}

.bg_brown {
    background-color: #816535;
    color: white;
    padding: .5em;
    font-size: .9em;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 2vw 5vw;
    }
}


/* HEADER */

#div_sm {
    display: flex;
}

.img_logo {
    max-width: 200px;
    height: auto;
}

header small {
    display: block;
    margin: auto;
    color: black;
}

#div_bars {
    margin: auto 1em auto auto;
}

#img_bars {
    max-width: 50px;
    height: auto;
}

#nav_sm {
    display: none;
}

#nav_sm li {
    border-top: 1px solid #ACA720;
    padding: 1em;
}

.eng {
    color: rgb(7, 170, 159);
}

#nav_sm .allows {
    float: right;
}

#header_sm {
    display: none;
}


/* HEADER MAIN IMAGE SECTION */

h1 {
    font-size: 6vw;
}

#div_header_img {
    height: 700px;
    background: white url("resources/nora-topicals-Fyd9rSbpdVM-unsplash.jpg") top center/cover no-repeat;
}

#div_headlines {
    padding: 2em;
}

#div_header_img h2 {
    margin-top: 1em;
    color: black;
    text-shadow: 1px 1px 0 white;
}

#div_header_img h1,
#div_header_img h3 {
    margin-top: 1em;
    color: rgb(9, 87, 9);
    text-shadow: 1px 1px 0 white;
}


/* NAV FOR DESKTOPS */

#nav_lg ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#nav_lg li {
    display: block;
    text-align: center;
}


/* NEWS FOR DESKTOPS */

#news_lg {
    position: relative;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.357);
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* 
    padding: 1em; */
}

#div_news {
    width: 40vw;
}

@media only screen and (max-width: 800px) {
    #div_lg,
    #nav_lg,
    #news_lg {
        display: none;
    }
    #header_sm {
        display: block;
    }
    .div_logo {
        margin-left: 1em;
    }
    h1 {
        font-size: 10vw;
    }
}


/* MAIN */

video {
    margin: 0 auto;
    width: 60vw;
    height: auto;
}